<%- include("header") %>
<h1 style="color: #A683E3; margin-bottom: 0px;">Mitul Ghumaliya</h1>
<h4 style="color: saddlebrown; padding: 10px; margin: 0px"><span style="color: black;">Email:</span>pmitulghumaliya53@gmail.com</h4>
<h4 style="color: saddlebrown; padding: 10px; margin: 0px"><span style="color: black;">Contect Number:</span>9427630608</h4>
<h6 style="color: saddlebrown; padding: 10px; margin: 0px"><span style="color: black;">Frontend</span> Developer</h6>
<%- include("footer") %>
